################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pipeline_crashcourse/bin/Debug/net8.0
/pipeline_crashcourse/obj
